<div class="container">
  <mat-card class="mt-5">
    <mat-card-title>Get started</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field class="full-width">
          <input matInput placeholder="Enter your name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Enter your email address" formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Enter your contact number" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Enter your college" formControlName="college">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="year" placeholder="Year">
            <mat-option value="junior">First Year</mat-option>
            <mat-option value="junior">Second Year</mat-option>
            <mat-option value="senior">Third Year</mat-option>
            <mat-option value="senior">Last Year</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" (click)="registerUser(loginForm.value)" color="primary"
              class="mat-elevation-z8" [disabled]="!loginForm.valid">Start Quiz
      </button>
    </mat-card-actions>
  </mat-card>
</div>
