<nav class="navbar navbar-light bg-dark mat-elevation-z10">
  <a class="navbar-brand text-white title-center">
    <h2 style="font-family: 'Sawarabi Mincho', sans-serif">Code Exact</h2>
  </a>
  <form class="form-inline">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="endQuiz()">End Quiz</button>
  </form>
</nav>
<router-outlet></router-outlet>

