/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.full-width {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.form-width {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
}
