<div *ngIf="quizActive == 'active'">
  <div class="container mt-5 alert alert-primary" role="alert">
    <h4>Current Score: {{ score }}</h4>
    <h4>Skips remaining: {{ skips }}</h4>
    <h4>Time remaining: {{min}} : {{sec}}</h4>
  </div>
  <div *ngFor="let que of questions | async" class="container mt-5">
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <mat-card class="card bg-light card-font p-5 mat-elevation-z8">
      <mat-card-title>
        <div [ngSwitch]="que.level" align="right">
          <h5 *ngSwitchCase="'easy'"><span class="text-success">+2</span> / <span class="text-danger">-1</span></h5>
          <h5 *ngSwitchCase="'medium'"><span class="text-success">+4</span> / <span class="text-danger">-2</span></h5>
          <h5 *ngSwitchCase="'hard'"><span class="text-success">+6</span> / <span class="text-danger">-3</span></h5>
        </div>
        <h4>{{ que.question }}</h4>
      </mat-card-title>
      <mat-card-content>
        <div *ngIf="que.hasCode">
          <pre>
            <code highlight [textContent]="que.srcCode"></code>
          </pre>
        </div>
        <mat-radio-group class="my-radio-group" [(ngModel)]="selectedOption">
          <mat-radio-button class="my-radio-button" [value]="'A'">
            <h5><p><b>A)</b> {{ que.options.A }}</p></h5>
          </mat-radio-button>
          <mat-radio-button class="my-radio-button" [value]="'B'">
            <h5><p><b>B)</b> {{ que.options.B }}</p></h5>
          </mat-radio-button>
          <mat-radio-button class="my-radio-button" [value]="'C'">
            <h5><p><b>C)</b> {{ que.options.C }}</p></h5>
          </mat-radio-button>
          <mat-radio-button class="my-radio-button" [value]="'D'">
            <h5><b>D)</b> {{ que.options.D }}</h5>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent" class="mx-2" [disabled]="skips == 0" (click)="skipQuestion()">
          Skip
        </button>
        <button mat-raised-button color="primary" class="mat-elevation-z9" (click)="nextQuestion(que.answer, que.level)"
                [disabled]="!selectedOption">
          Next
          <i class="fas fa-angle-double-right"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

