.card-font {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.my-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.my-radio-button {
  font-family: 'Sawarabi Mincho', sans-serif;
  margin-right: 5px;
}

.my-selected-value {
  margin: 15px 0;
}
.wrap-text {
  white-space: normal;
}
